 body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #FFFFFF;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.5px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  border-radius: 2px;
}

#content {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
/*#push,*/
/*#footer {
  height: 60px;
}
#footer {
  background-color: #4e5d6c;
}*/

footer{
 height: auto;
 padding:1px 15px;
 width:100%;
 border: 1px solid #CCC;
 }
#copyright{
 float:left;
 width:33.3%;  
 /*border:1px solid #CCC;*/
 padding:10px;
}
#names{
 width:33.3%;        
 float:left;
 text-align:center;
 /*border:1px solid #CCC;*/
 padding:10px;
 }
#prepfor{
float: left;
width:33.3%; 
text-align: right;
/*border:1px solid #CCC;*/
padding:10px;
}
/*#copyright{*/
/*float:left;*/
/*text-align:center;*/
/*border:1px solid #333;*/
/*width:514px;*/
/*}*/

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}
